@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background: #ececec;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.welcome{
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(174,214,183);
    padding-left: 5%;
    gap: 10%;
}

img#student{
    height: 80%;
    width: 7.5%;
    padding: 10px 10px 0px 10px ;
}

.msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    color: #1DA13A;
    margin: 0%;
}

.msg p{
    margin: 0%;
    color: #FFFFFF;
    padding-top: 2.5%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.content{
    margin-left: 190px;
    padding:8px;
}