@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    padding: 0% 0% 0% 15%;
    margin: 0;
}

.ajoutNote label{
    font-weight: lighter;
    color: white;
}

.ajoutNote h1{
    color: white;
    padding-left: 15%;
    padding-top: 1%;
}

.ajoutNote{
    border-radius: 15px;
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5% 10% 5% 10%;
}

.ajoutNote a{
    text-decoration: None;
    border-radius: 15px;
    border: None;
    background-color: #FFFFFF;
    color: black;
    border: None;
    width: 40%;
    padding: 2%;
    transition: 0.3s;
    position: relative;
    left: 60%;
}

#file{
    -webkit-appearance: None;

}

#valideButton{
    background-color: rgb(29,161,58);
    border-radius: 15px;
    color: white;
    border: None;
    width: 40%;
    padding: 1%;
    transition: 0.3s;
    position: relative;
    left: 60%;
    
}
#valideButton:hover{
    background-color: rgb(37, 203, 79);
}