body{
    padding: 3%;
}

body > div.modules{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

body > div.modules > div.module{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1.5%;
    background-color: darkblue;
    border-radius: 20px;
    color: white;
    font-size: 1.5em;
    align-items: center;
}

body > div.modules > div.module > h1{
    font-size: 1.6em;
}

body > div.modules > div.module > p{
    margin: 2%;
}

body > div.modules > div.module > p:first-of-type{
    align-self: flex-start;
}

body > div.modules > div.module > a{
    margin-bottom: 5%;
    margin-top: 1%;
}

.module-detail{
    display: flex;
    flex-direction: column;
    gap: 20px;

    color: white;

    width: calc(100% - 50px);
    height: calc(100% - 50px);

    border-radius: 25px;

    padding: 25px;


}

.module-detail .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.module-detail h1{

    margin: 0;

}

.module-detail .content{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr ;
    min-height: 0;
    min-width: 0;
    height: 100%;
}

.module-detail .content > * {
    margin: 10px 30px;
}

.module-detail .content:before{
    content: "";
    grid-row: 1 / 3;
    grid-column: 2 / 2;

    margin : 25% 0;
    border-left: solid 3px white;
}

.module-detail .prof{
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
}

.module-detail .groups{
    grid-column: 1 / 2;
    grid-row: 2 / 3 ;
}

.module-detail .notes{
    display: flex;
    flex-direction: column;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.module-detail .notes .notes-list{
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 0px 10px 0px 0px
}

.module-detail .notes .note{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

.module-detail .notes .note *{
    margin : 0;
}

.module-detail .notes .note > p{
    opacity: 0;
    transition: opacity 0.5s;
}


.module-detail .notes .note:hover > p{
    opacity: 1;
}

.module-detail .notes .note > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

