@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --sidebar-size : 250px;
}

@media (max-width: 1050px){
    :root{
        --sidebar-size : 170px;
    }
}

body{
    margin: 0 0 0 var(--sidebar-size);
    transition: margin .5s;
}

body.hide-side{
    margin-left: 0;
}

body.hide-side .sideBarre{
    transform: translateX( calc(var(--sidebar-size) * -1));
}

#menuButton{
    position: fixed;
    left: -18px;
    top: 18px;

    height: 36px;
    width: 36px;
    border-radius: 100%;

    background-color: #2b2e31;
    transition: background-color .3s;

    z-index: 10;
}

#menuButton:hover{
    background-color: #373b3d;
    cursor: pointer;

}

.sideBarre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: var(--sidebar-size);
    position: fixed;
    z-index:1;
    top: 0;
    left: 0;
    background-color: #222528;


    overflow-y: auto;
    /*overflow: visible;*/

    transition: width .5s, transform .5s;
}

/*css lié a la class Top box (haut de la side barre)*/

.titleBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

.titleBox h2{
    margin: 0;
    color: white;
    font-size: 1em
}

.titre{
    display: flex;
    align-items: center;
}

.titre h1{
    margin: 0;
    padding-top: 10%;
    color: #FFFFFF;
}
#oTitre{
    color:rgb(29,161,58) ;
}
/*------------------------------------------------*/
/*css lié au menu (centre de la page)*/

.ligneSep{
    background-color: #515A62;
    width: 75%;
    height: 2px;
    margin: 10%;
}
.menu{
    display: flex;
    flex-direction: column;
    color: #515A62;
    /*padding-left: 10%;*/
    margin: 0;
}
.menu h3{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    margin: 0;
    font-size: 0.8em;
}
.menu a{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 0.9em;
    text-decoration: none;
    color: #FFFFFF;
    width: 75%;
    transition: 0.3s;
}

.menu a:hover{
    background-color: #1DA13A;
    border-radius: 0px 10px 10px 0px;
}
/*classe css pour tout ce qui touche a la Botbox*/
.botBox{
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.botBox h3{
    font-size: 0.9em;
    color: #515A62;
    padding-left: 10%;
    margin: 0;
}
.account{
    color: #515A62;
    display: flex;
    justify-content: space-around;
    padding: 5%;
}

.person{
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #FFFFFF;
}

.person p{
    margin: 0;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29,161,58);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.decoButton{
    display: flex;
    justify-content: space-around;
    width: 75%;
    border-radius: 10px;
    border: None;
    background-color: #2f3235;
    color: white;
    padding:5%;
    text-decoration: none;
    transition: 0.3s;
}
.button a:hover{
    background-color: #d92525;
}
